div.category-container {
    color: black;
    background-color: #00458249;

    padding: 8px;
    border-radius: 12px;

    transition: 0.5s;
    transition-property: color, background-color, border-radius;
}

div.category-container:hover,
div.category-container:focus {
    color: white;
    background-color: #004682;

    border-radius: 4px;
}

div.category-content {
    display: none;
}

div.category-container:focus-within div.category-content {
    display: block;
}

a.guide-link {
    color: white;
}